:root {
  --primary-color: rgb(29, 185, 84);
  --text-color: #333;
  --dashboard-color: rgba(250, 250, 250, 0.95);
  --shadow-color: rgb(175, 175, 175);
  --hover-button-color: #00000017;
}

[data-theme="dark"] {
  --primary-color: #1db954;
  --text-color: #fafafa;
  --dashboard-color: rgba(51, 51, 51, 0.95);
  --shadow-color: rgb(14, 14, 14);
  --hover-button-color: #bebebe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  transition: background-color 0.5s linear;
  background-image: url(./assets/img/bgc.jpg);
  background-position: right;
  /* background-size: contain; */
  background-attachment: fixed;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-image: url(./assets/img/bgc.jpg); */
}

/* .player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
} */

.player {
  position: relative;
  max-width: 1200px;
  height: 725px;
  margin: 25px auto 8px;
  display: flex;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

/* .dashboard {
  padding: 16px 16px 14px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
} */

.dashboard {
  padding: 20px;
  background-color: var(--dashboard-color);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: -2px 0px 10px 0px var(--shadow-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;

  width: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h4 {
  color: var(--primary-color);
  font-size: 16px;
}

header h2 {
  color: var(--text-color);
  font-size: 23px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 260px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 48px 0 18px 0;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
  transition: all 0.2s linear;

  border-radius: 50%;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.control .btn:hover:not(.btn-toggle-play) {
  background-color: var(--hover-button-color);
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress-container {
  margin-top: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.progress-container .time-text {
  width: 40px;
  color: var(--text-color);
}

#canvas {
  width: 72%;
  left: 112px;
  right: 0;
  position: absolute;
  margin-top: 12px;
  z-index: -1;
}

.progress {
  width: 77%;
  -webkit-appearance: none;
  height: 8px;
  background: #d3d3d3;
  box-shadow: inset 0 0 5px rgb(112, 112, 112);
  border-radius: 4px;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 6px;
  border-radius: 4px;
  background-color: var(--primary-color);
  transition: all 0.2s linear;
  cursor: pointer;
}

::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

#volume {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

#volume .volume-value-text {
  color: var(--text-color);
}

.btn-volume {
  color: #666;
  transition: all 0.3s;
  width: 25px;
  height: 20px;
}

.btn-volume i {
  font-size: 20px;
}

.volume-range {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  height: 8px;
  background: #d3d3d3;
  box-shadow: inset 0 0 5px rgb(112, 112, 112);
  outline: none;
  opacity: 0.9;
  border-radius: 4px;
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(0.9);
}

/* PLAYLIST */
/* .playlist {
  margin-top: 473px;
  padding: 12px;
} */

.playlist {
  padding: 20px;
  box-shadow: -2px 0px 10px 0px var(--shadow-color);
  background-color: var(--dashboard-color);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  flex: 1.4;
  overflow: auto;
}

.playlist .playlist-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--hover-button-color);
}

.playlist .playlist-heading h2 {
  padding: 10px 0;
  font-size: 20px;
  color: var(--text-color);
}

.playlist-songs {
  width: 100%;
  height: 90%;
  overflow: auto;
  margin-top: 8px;
  padding: 8px 0 0 10px;
}

.playlist-songs::-webkit-scrollbar {
  width: 5px;
}

.playlist-songs::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}
.playlist-songs::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(112, 112, 112);
  border-radius: 10px;
}

.playlist-songs::-webkit-scrollbar-thumb:hover {
  background: #20bb56;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 12px;
  background-color: var(--dashboard-color);
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  /* border-radius: 50%; */
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}

.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  content: "🌙";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: whitesmoke;
  background-color: black;
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 15px;
  width: 15px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider::before {
  content: "☀️";
  background-color: whitesmoke;
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid var(--text-color);
}

.slider.round::before {
  border-radius: 50%;
}

/*--------------- Footer ---------------*/
footer {
  margin-top: 15px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease;
  position: relative;
  z-index: 1;
  background-color: #000;
  border-radius: 4px;
  padding: 0 30px;
}

footer a i {
  margin-right: 8px;
}

footer a:hover {
  transform: translateY(-15px) scale(1.1);
  color: var(--primary-color);
}

footer::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  border-bottom: 1px solid #fff;
}

/*---------------------- Responsive -------------------------*/
@media only screen and (max-width: 1366px) {
  .player {
    max-width: 1200px;
    height: 942px;
  }
}

/* PC, Tablet  */
@media only screen and (max-width: 1024px) {
  .player {
    max-width: 950px;
    height: 820px;
  }

  #canvas {
    width: 70%;
    left: 95px;
  }

  .song {
    padding: 8px 6px;
  }

  .song .body {
    padding: 0 6px;
  }

  .song .title {
    font-size: 15px;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
  .player {
    max-width: 700px;
    height: 820px;
    margin: 70px auto 90px;
  }

  .dashboard {
    flex: 2.2;
  }

  #canvas {
    width: 67%;
    left: 69px;
    margin-top: 8px;
  }
}
/* Mobile  */
@media only screen and (max-width: 540px) {
  .player {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    margin: 70px auto 0;
  }

  .dashboard,
  .playlist {
    flex: 1;
    width: 100%;
  }

  .dashboard {
    position: fixed;
    top: 0;
    z-index: 99;
    /* background-color: rgb(51, 51, 51); */
    padding: 10px;
    border-radius: 0;
  }

  header h2 {
    font-size: 20px;
  }

  .cd {
    margin: 15px auto;
  }

  .progress-container {
    margin-top: 30px;
  }

  .playlist {
    margin-top: 523px;
    border-radius: 0;
  }

  .playlist .playlist-songs {
    overflow: visible;
  }

  footer {
    margin-top: 0;
  }
}
